<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body>
    <h2>{{ titulo }}</h2>
    <p>
        {% if operacion == 'suma' %}
            La suma de {{ num1 }} + {{ num2 }} = {{ resultado }}
        {% elif operacion == 'resta' %}
            La resta de {{ num1 }} - {{ num2 }} = {{ resultado }}
        {% elif operacion == 'multiplicacion' %}
            La multiplicación de {{ num1 }} * {{ num2 }} = {{ resultado }}
        {% endif %}
    </p>
    <a href="{% url 'calcula:index' %}">Volver al formulario</a>
</body>
</html>
